.form-input:valid {
background: rgb(247, 248, 247);
}

.form-input:invalid {
background: rgb(243, 242, 242);
}

.form-input.form-input-text {
margin-bottom: 20px;
}

.form-input.form-input-number {
    margin-bottom: 20px;
}

.fondoformulario{
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color:rgb(8, 175, 252);
filter: brightness(100%);

}

.tamanioinput{
    width: 200;
    height: 200;
}

img.izquierda {
  float: left;
}




/*
BOTON ENVIAR
*/
.enviarboton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .enviarboton:hover {background-color: #3e8e41}
  
  .enviarboton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
