.thesection{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/*   VIDEO     */
.video-container {
    width: 100%;
    height: 10%;
}

.myvideo {
    width: 100%;
    height: 10%;
}




/*   NAVBAR     */

.navflotante{
    position: fixed;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
}

.btnnavar a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px; 
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

 /* TEXTO EN SECCION 1  */ 

 .content {
    position: absolute;
    top: 60%;
    color: #ffffff;
    width: 50%;
    padding: 20px;
    text-align: left;
    font-family: sans-serif;
    font-size: 25px;

  }

   /* SECCION 2  */ 
.contendorpequeño{
    border-style: inset;

}





.divcontenedorppal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 40px;
    margin-left: 40px;
}


.contenedoruno{
    width: 60%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.contenedordosuno{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.contenedordos{
    width: 30%;
    background-color: red;

}


.content__boot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.content__boot__column{
    display: flex;
    flex-direction: column;
}

.content__boot__column__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content__boot__column__row__leters{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    justify-content: center;
}

.content__boot__column__row__leters--bold{
    margin: 0;
    font-weight: bold;
}

.content__boot__column__row__leters--p{
    margin: 0;
}

.content__boot__column__row__image--img{
    width: 45px;
}

.content__boot__column__title{
    margin:0;
}

.content__boot__column__extra{
    display: flex;
    flex-direction: column;
}

.content__boot__column__row__extra{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.content__boot__column__row__leters__extra{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    justify-content:flex-end;
}

.content__boot__column__row__image--icon{
    width: 22px;
    justify-content: flex-end;
}

.info{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.info__first{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.info__first__left{
    display: flex;
    width: 30%;
    align-items: center;
}

.info__first__right{
    display: flex;
    width: 30%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.container_title{
    display: flex;
    width: 60%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}


.info{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.info__first{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.info__first__left{
    display: flex;
    width: 30%;
    align-items: center;
}

.info__first__right{
    display: flex;
    width: 30%;
}


.contenedorseccion3{
    width: 70%;
    margin: 0 auto;
}

.contenedorseccion3_images{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contenedorseccion3_images_small{
    display: inline-block;
    width: calc(18% - 0px);
    align-items: center;
}

.article__images__container__size{
    width: 70%;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }
