html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
/*  IMAGENES  */
.bmwimagenppal{
    width: 100%;
}


/*  CONTENEDORES  */

.containerimageppal{
    position: relative;

}


.containerpar2images{
    display: inline-block;
    padding: 20px;
    margin-top: 10%;
}

.containerpar2images2{
    display: inline-block;
    width: 100%;
    padding: 0%;
    margin-left: -62%; 

}

.containerpart3{
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin-top: 10%;

}

.containerpar3images{
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin-top: 10%;

}




/*  TEXTO  */

.textimagenppal2{
    position: absolute;
    color: azure;
    left: 5%;
    top: 70%;
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.textimagenppal{
    position: absolute;
    color: azure;
    top: 60%;
    left: 5%;
    font-size: 300%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}





/*  BOTONES Y NAVBAR  */


.botonimagenppal {
    background-color: #008CBA;
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 16px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: bold;
}



.topnav {
    overflow: hidden;
    background-color: none;
    position:absolute;
    left: 5%;
    top: 10%;
  }

  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
  }


  .nav2 {
    overflow: hidden;
    background-color: none;
    position:absolute;
    left: 12%;
    top: 75%;
  }

  .nav2 a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }


