html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.image-container{
    display: inline-block;
    padding: 50px;
    
   
}

.text-container{
    display: inline-block;
    width: calc(25% -1px);
    padding: 100px;
}

.textpro{
    bottom: 5px;
    position: absolute;
}


.cajagrande{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.child {

        width: 40px;
        
       }