.mainflex{
    display: flex;
    flex-wrap: wrap;
    ;
}

.flexone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


.flexoneone{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin:1%;
}

.flexonetwo{
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    margin:1%;
}


.flextwo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.flextwoall{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
    margin:1%;
}


.flexthree{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



/* SEPARATOR*/
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}



@media screen and(max-width: 1000){
    .flexone{
        flex-direction: columnn;
    }
}

